
.details {
    display: flex;
    flex-direction: row;
    object-fit: cover;

    border-radius: 10px;
    gap: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.left-content{
    background-color: rgb(11, 3, 3);
    padding: 1px;
    
    margin: 35px;

}
.left-content YouYube{
     width: 30rem;
    height: 400px;
}
.movie-img {
    width: 30rem;
    height: 400px;
   border: 1px solid ;
    /* position: absolute; */
    /* top: 150px;
    left: 12px; */
    
    border-radius: 5px;
  margin: 20px;
  flex: 1;
  border: 2px solid #d8b61a;;
}


.youtube{
    width: 900px;
}
.youtube iframe{
    width: 100%;
    height: 100%;
}
.overview {
    margin-bottom: 7px;
    color: white;
    /* height: auto;
    width: 15rem; */
}

.no-video {
    color: red;
}

/* .play-video{
    width: 100%;
} */
.play-btn {

    background: linear-gradient(to bottom right, #e1c732, rgba(107, 98, 2, 0.336));
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 80px;

}
.play-btn:hover{
  color: white;
}
.right-content{
   
   margin-right: 10px;

}

@media screen and (max-width: 480px) {

  .details {
    flex-direction: column;
    padding: 10px;
  }

  .left-content {
    margin: 10px 0;
  }

  .left-content iframe,
  .movie-img {
    width: 100%;
    height: 220px;
  }

  .right-content {
    margin: 0;
    padding: 10px;
  }

  .overview {
    font-size: 14px;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {

  .details {
    flex-direction: column;
  }

  .left-content iframe,
  .movie-img {
    width: 90%;
    height: 300px;
  }

  .right-content {
    text-align: center;
  }
}


@media screen and (min-width: 1200px) {

  .left-content iframe,
  .movie-img {
    width: 35rem;
    height: 450px;
  }

  .overview {
    font-size: 16px;
  }
}


