.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  /* background-position: center; starting position of img with container  */
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("netflix.jpg");
  background-size: cover;
}
.welcome {
  background-color: transparent;
}
.welcome h2,
p {
  color: white;
  background-color: transparent;

  margin-bottom: 10px;
}

.signup {
  border-radius: 3px;
  background-color: #e50914;
  border: none;
  font-weight: bold;
  margin-bottom: 30px;
  height: 30px;
  width: 180px;
  color: white;
}
