.cover{
   display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
     background-position: center; /*starting position of img with container  */
    background-image: url("/public/background_img.jpg");
    background-size: cover;
    
}
h2,p{
     color: #d8b61a;
    
    margin-bottom: 10px;
}


.signup{
   
     
    background:linear-gradient(to bottom right,#e1c732,rgba(107, 98, 2, 0.336));
    border: none;
   font-weight: bold;
    margin-bottom: 30px;
    height: 30px;
    width: 180px;
 }