.outer {

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
 
}

.form {

  width: 400px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
 background-color: #1c1c1c;
border: 2px solid rgba(255,255,255,0.2);

}

.form p {
  left: 20px;
  color: red;
  margin-bottom: 10px;
  text-align: center;
  background-color: #1c1c1c;
}

.form-label {
background-color: #1c1c1c;
  margin-bottom: 10px;
}

.input-field {

  color: white;
 
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.btn {
  margin-top: 20px;

  color: white;
  background-color: blue;
  
  height: 30px;
  border: none;
  border-radius: 7px;
 align-self: center;

}

.btn:hover {
  /* background-color: rgb(46, 46, 141); */

  color: black;
}

.register {

  
  margin-top: 30px;
 
  text-decoration: none;

}
.register a{
  text-decoration: none;
   background-color: #1c1c1c;
}