
.outer-cont {
  width: 100%;
  min-height: 80vh;
  background-color: transparent;
}

.home-div {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;

  opacity: 0.5;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background: transparent;

  display: flex;
  align-items: center;
}

.lazy-div {
  font-weight: bold;
  font-size: 6vw;
  color: white;

}

.content {
  width: 80%;
  max-width: 600px;
  padding: 4vw;
  color: black;
  background-color: transparent;
}

.content h1 {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 2vh;
  background-color: transparent;
}

.content h2 {
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 1.5;
  color: black;
  margin-top: 2vh;
  background-color: transparent;
}

.btns {
  margin-top: 2vh;
  background-color: transparent;
}

.btns button {
  padding: 1.5vh 3vw;
  font-size: 1.5vw;
  font-weight: 600;
  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 0.3vw;
  cursor: pointer;
}

/* 
.btns button:hover {
  background-color: transparent;
} */
