.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

}
.welcome {
  background-color: transparent;
}
.welcome h2,
p {
  color: white;
  background-color: transparent;

  margin-bottom: 10px;
}
.welcome h1{
  color: #E50914;
  font-size: 90px;
  background: transparent;
}
.signup {
  border-radius: 3px;
  background-color: #e50914;
  border: none;
  font-weight: bold;
  margin-bottom: 30px;
  height: 30px;
  width: 180px;
  color: white;
}
.focused{
 
  transition: transform 0.2s,outline 0.2s;
  z-index: 3;
  outline: 3px solid white;
}
