
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E50914;
  padding: 2vh 3vw;
  height: 70px;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items {
  margin-left: 40px;
  display: flex;
  gap: 30px;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  color: #E50914;
  font-family: Arial, Helvetica, sans-serif;
}

.login-btn {
  color: white;
  background: transparent;
  height: fit-content;
  border: 0.2vw solid #E50914;
  background-color: #E50914;
  border-radius: 1vw;
  align-self: center;
  width: 100%;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
   margin: 7px;
}

.login-btn.focused {
  /* transform: scale(1.1);  */
  transition: transform 0.2s, outline 0.2s;
  z-index: 3;
  outline: 3px solid white;
}

.navbar-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.navbar-item {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8c8c8c82;
  outline: none;
}

.navbar-item.focused {
  transition: transform 0.2s;
  z-index: 3;
  color: white;
  outline: none;
}

.nav-title {
  display: none;
}

.navbar-item.focused .nav-title {
  display: inline-block;
  font-weight: bold;
  color: white;
}

.login-btn:hover {
  transform: scale(1.1);
}
