.outer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  padding: 4vw;
  box-sizing: border-box;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/netflix.jpg");
}

.outer h2 {
  background: transparent;
  color: white;

  margin-bottom: 2vh;
  font-family: "Poppins", sans-serif;
}

.outer-sub {
  width: 40%;
  padding: 4vw;
  margin: 1vh;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 1vw;
  text-align: center;
  box-sizing: border-box;
}

.inp-form {
  width: 100%;
  padding: 2vw;
  margin: 1vh;
  background: transparent;
  border-radius: 1vw;
  text-align: center;
  box-sizing: border-box;
}
.btn-div {
  background: transparent;
}
.inp {
  margin: 1vh;
  padding: 1.5vh;
  width: 100%;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  appearance: none;
  border: 1px solid #333;
  outline: none;
}

.login-button {
  margin: 1vh;
  margin-top: 4vh;
  color: white;
  background: transparent;
  height: fit-content;
  border: 0.2vw solid #e50914;
  background-color: #e50914;
  border-radius: 1vw;
  align-self: center;
  width: 100%;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.inp-div {
  background: transparent;
}

.login-button:hover {
  color: white;
}

.input:placeholder {
  color: #8c8c8c;
}

.focused.login-button {
  transition:
    transform 0.2s,
    outline 0.2s;
  z-index: 3;
  transform: scale(1.04);
  outline: none;
}

.inp.focused {
  /* transition: transform 0.2s ease, outline 0.2s ease; */
  /* outline: 0.3vw solid white; */
  transform: scale(1.03);
  outline-offset: 0vw;
}

.error {
  color: red;
  background: transparent;
}
