.outer {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}
.outer h2{
  background: transparent;
  color: white;
}
.inp-form {

  width: 400px;
  color: white;
  padding: 20px;
  margin: 8px;
  background-color: #1c1c1c;
  border: 2px solid #E50914;
  text-align: center;
  margin-left: 10px;

}

.inp{
  color: white;
  border: 1px solid #E50914;
  margin: 5px;
  padding: 8px;
  width: 95%;


}
.login-btn {
  margin-top: 20px;

  color: white;
  background: #E50914;

  height: 30px;
  border: none;
  border-radius: 7px;
  align-self: center;
  width: 100%;
}
.login-btn:hover {
  /* background-color: rgb(46, 46, 141); */

  color: black;
}
input::placeholder{
  color: white;
}

.focused.login-btn{
  transition: transform 0.2s,outline 0.2s;
  z-index: 3;
  outline: 3px solid white;
}
  .focused{
  transition: transform 0.2s,outline 0.2s;
  z-index: 3;
  outline: 3px solid white;
  border: 0;
}

/* .focused{
   border: 1px;
} */
/* desktop */
@media (min-width: 1200px) {

  .form {
    width: 450px;
  }

  .form h2 {
    font-size: 22px;
  }

  .btn {
    height: 36px;
    font-size: 15px;
  }
}