
.outer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  padding: 4vw;
  box-sizing: border-box;
}

.outer h2 {
  background: transparent;
  color: white;
  font-size: 5vw;
  margin-bottom: 2vh;
}

.inp-form {
  width: 100%;
  max-width: 450px;
  color: white;
  padding: 4vw;
  margin: 1vh;
  background: transparent;
  border: 0.3vw solid #E50914;
  border-radius: 1vw;
  text-align: center;
  box-sizing: border-box;
}

.inp {
  color: white;
  border: 0.2vw solid #E50914;
  margin: 1vh 0;
  padding: 1.5vh;
  width: 100%;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  
  box-sizing: border-box;
}

.login-button {
  margin-top: 3vh;
  color: white;
  background: transparent;
  height: 6vh;
  border: 0.2vw solid white;
  background-color: #E50914;
  border-radius: 1vw;
  align-self: center;
  width: 100%;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
.inp-div{
  background: transparent;
}
.login-button:hover {
  
 
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);

}

.focused.login-button {
  transition: transform 0.2s, outline 0.2s;
  z-index: 3;
  outline: 0.4vw solid white;
}

.focused {
  transition: transform 0.2s, outline 0.2s;
  z-index: 3;
  outline: 0.4vw solid white;
  border: 0;
}
