.details{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    gap: 10px;

}

 .img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
} 
.right-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}
.right-cont h1{
    margin-bottom: 10px;
    
}
.overview{
    margin-bottom: 10px;
    color: white;
}
.no-video{
    color: red;
}
.btn{
    align-items: center;

}
.youtube{
    height: 100%;
    width: 100%;
    margin-top: 10px;

}