.div{
    
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    margin: 0.5px;
    float: left;
    gap:2px    /* border: 1px solid black; */
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.images::-webkit-scrollbar{
    display: none;
}
.video-img{
    border:1px solid blue;
    border-radius: 5px;
    height: 100px;
    width: 80px;
}
h3{
    color: blue;
    margin: 10px;
}
