.recomended-movies{
    
    display: flex;
    /* flex-direction: row; */
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    margin: 0.5px;
    /* float: left; */
    gap:2px; 
    background-color: rgba(14, 11, 11, 0.863);
}
h3{
    margin-top: 10px;
}