.navbar {
  background-color: #221F1F;
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #E50914;
}

.navbar h1 {
  color:#E50914;
  padding: 2px;
}
.navbar a{
  text-decoration: none;
}

.navbar button{
border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  background-color: #E50914;
  border: none;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 2px;
  height: 30px;
  width: 70px;
  color: white;
}

@media (max-width: 480px) {

  .navbar {
    height: 45px;
    padding: 0 8px;
  }





  .signin {
    width: 55px;
    height: 28px;
    font-size: 9px;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .signin {
    width: 58px;
  }
}


@media screen and (min-width: 1200px) {

  .navbar {
    height: 50px;
  }

  .signin {
    width: 70px;
    height: 34px;
    font-size: 11px;
  }
}