.navbar{
    background-color: black;
    width: 100%;
    height: 40px;

    top: 0;
    display: flex;
    justify-content: space-between

}
h1{
    color: blue;
    padding: 2px;
}
.navbar a{
    color: blue;
    text-decoration: none;
    padding: 10px;
}