.list-container h2 {
    margin-top: 10px;
    margin-left: 20px;
    color: #E50914;
}

.div {

    display: flex;
    /* flex-direction: row; */
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    margin: 0.5px;
    /* float: left; */

    gap: 2px;
    background-color:#221F1F;
}

.images::-webkit-scrollbar {
    display: none;
}

.poster-div {
    
    margin-top: 5px;
    position: relative;
    background-color:  #221F1F;
}

.img-rating {
    position: relative;
    overflow: hidden;
}

.rating {
    opacity: 0;
    
    bottom: 4px;
    right: 0px;
    color: white;
    border-radius: 6px;
    background-color: rgb(174, 13, 13);
    padding: 1px;
    width: 50px;
    text-align: center;
    position: absolute;
}

.poster-div img {
    border: 2px solid #221F1F;
    border-radius: 5px;
    cursor: pointer;
     height: 200px;
  aspect-ratio: 1/1;
  width: auto;

}
.poster-div img:hover{
     border: 1px solid #E50914;
}

.poster-title {
    opacity: 0;

    bottom: 0px;
    left: 2px;
    color: white;

}

.poster-div:hover .poster-title,
.poster-div:hover .rating {
    opacity: 1;
   
}

@media (max-width: 480px) {

    .list-container h2 {
        font-size: 16px;
        margin-left: 10px;
    }

    .div {
        gap: 6px;
        padding: 4px;
    }

    .poster-div {
        margin-left: 6px;
    }

    .poster-div img {
        width: 100px;
        
    }

    .rating {
        opacity: 1;
        width: 40px;
        font-size: 12px;
    }

    .poster-title {
        opacity: 1;
        font-size: 12px;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {

    .list-container h2 {
        font-size: 18px;
    }

    .poster-div img {
        width: 130px;
        height: 130px;
    }

    .rating {
        width: 45px;
        font-size: 13px;
    }

    .poster-title {
        font-size: 13px;
    }
}

@media screen and (min-width: 1200px) {

    .poster-div img {
        width: 180px;
        height: 180px;
    }

    .rating {
        width: 55px;
        font-size: 14px;
    }

    .poster-title {
        font-size: 14px;
    }
}