.app-div{
    margin-left: 8px;
}
button{
      padding: 8px 18px;
  background-color: #E50914;
  border: none;
  border-radius: 5px;
  /* font-weight: bold; */
  cursor: pointer;
 color: white;
 margin-bottom: 5px;
}

